# Processing Urban-Rural Index Data
This data is a survey from 2013 rating each US county's level of urban development.

1 = Large central metropolitan (Big cities)

2 = Large fringe metropolitan

3 = Medium metropolitan

4 = Small metropolitan

5 = Micropolitan

6 = Non-core (Rural)

You'll need to download this data from https://www.cdc.gov/nchs/data_access/urban_rural.htm#:~:text=NCHSurbruralcodes,XLS%20%E2%80%93%20175%20KB%5D
This link will highlight the thing you need to download--the "NCHSUrbRuralCodes" XLS file.
Download it and place it in the data folder, make sure it's named "NCHSURCodes2013.xlsx".

In [2]:
import pandas as pd
import os

current_dir = os.getcwd()

In [4]:
df = pd.read_excel(os.path.join(current_dir, "..", "Data", "NCHSURCodes2013.xlsx"))
df = df[["FIPS code", "State Abr.", "County name", "2013 code"]].rename(columns={"FIPS code": "FIPS", "State Abr.": "STATECODE", "County name": "COUNTY", "2013 code": "URBAN_RURAL_SCORE"})
df

       FIPS STATECODE             COUNTY  URBAN_RURAL_SCORE
0      1001        AL     Autauga County                  3
1      1003        AL     Baldwin County                  4
2      1005        AL     Barbour County                  6
3      1007        AL        Bibb County                  2
4      1009        AL      Blount County                  2
...     ...       ...                ...                ...
3144  56037        WY  Sweetwater County                  5
3145  56039        WY       Teton County                  5
3146  56041        WY       Uinta County                  5
3147  56043        WY    Washakie County                  6
3148  56045        WY      Weston County                  6

[3149 rows x 4 columns]