# Processing Deforestation Data
For this data, you will need to download the excel file from the Deforestation website:
https://www.globalforestwatch.org/dashboards/country/USA/?category=forest-change
At the top of the page in the black area next to "SHARE DASHBOARD", download the data with the download icon.
Put it in the Data folder and rename it to "Deforestation.xlsx"

In [1]:
import pandas as pd
import os

current_dir = os.getcwd()

In [10]:
df = pd.read_excel(os.path.join(current_dir, "..", "Data", "Deforestation.xlsx"), sheet_name="Subnational 2 tree cover loss")
df = df[df["threshold"] == 0]
df = df.drop(["country", "threshold", "extent_2000_ha", "extent_2010_ha"], axis=1).rename(columns={"subnational1": "STATE", "subnational2": "COUNTY"})
df

,STATE,COUNTY,area_ha,gain_2000-2020_ha,tc_loss_ha_2001,tc_loss_ha_2002,tc_loss_ha_2003,tc_loss_ha_2004,tc_loss_ha_2005,tc_loss_ha_2006,...,tc_loss_ha_2014,tc_loss_ha_2015,tc_loss_ha_2016,tc_loss_ha_2017,tc_loss_ha_2018,tc_loss_ha_2019,tc_loss_ha_2020,tc_loss_ha_2021,tc_loss_ha_2022,tc_loss_ha_2023
0,Alabama,Autauga,156174,9783,2848,1640,1321,2942,2454,1740,...,1954,2361,2889,3285,2415,2373,1990,2366,1666,1757
8,Alabama,Baldwin,424355,23735,4392,3468,3245,6559,6346,5382,...,6524,5829,7101,6268,6205,4685,6495,4671,4118,3012
16,Alabama,Barbour,232848,20274,3903,3241,3025,3123,3726,4195,...,4941,5430,5264,6579,3617,3812,4084,4442,3899,2838
24,Alabama,Bibb,162055,5644,2791,2330,2412,2981,2916,2222,...,2804,3202,3439,3438,3072,2649,1817,3027,2120,1856
32,Alabama,Blount,169164,5167,1713,1384,1047,1373,1478,1304,...,1084,1031,1343,2752,883,884,750,549,420,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25144,Wyoming,Sweetwater,2716960,70,119,220,93,47,19,22,...,0,0,2,0,0,1,2,42,2,0
25152,Wyoming,Teton,1091670,21761,3201,847,730,2195,1053,1250,...,1297,434,2081,6080,57,153,746,441,447,111
25160,Wyoming,Uinta,539674,879,974,306,122,460,1728,188,...,54,16,101,165,30,102,48,9,5,49
25168,Wyoming,Washakie,583419,277,37,53,40,112,393,56,...,131,88,222,215,303,35,6,4,15,190
25176,Wyoming,Weston,623139,1072,1071,40,445,135,451,157,...,797,296,59,756,1446,207,153,87,111,384

In [14]:
loss_over_time = df.copy()
loss_over_time = loss_over_time.drop("gain_2000-2020_ha", axis=1)

loss_over_time = loss_over_time.melt(id_vars=["STATE", "COUNTY", "area_ha"], var_name="Year", value_name="HA_Loss")
loss_over_time["Year"] = loss_over_time["Year"].str[-4:]
loss_over_time

         STATE      COUNTY  area_ha  Year  HA_Loss
0      Alabama     Autauga   156174  2001     2848
1      Alabama     Baldwin   424355  2001     4392
2      Alabama     Barbour   232848  2001     3903
3      Alabama        Bibb   162055  2001     2791
4      Alabama      Blount   169164  2001     1713
...        ...         ...      ...   ...      ...
72399  Wyoming  Sweetwater  2716960  2023        0
72400  Wyoming       Teton  1091670  2023      111
72401  Wyoming       Uinta   539674  2023       49
72402  Wyoming    Washakie   583419  2023      190
72403  Wyoming      Weston   623139  2023      384

[72404 rows x 5 columns]